<div class="row">
  <div class="panel">
    <h2 align="center"><%= @park.name %></h2><br>
    <h4 align="center"><%= @park.state %></h4><br>
    <% if @park.description %>
    <h4>Description: <%= @park.description %> </h4>
    <% end  %>
    <p><%= link_to "Go to park website", "http://#{@park.link_url}" %></p>
    <div id="app" data-park_id= <%= @id %> data-user_id= <%= current_user && current_user.id %> ></div>
  </div>
</div>
