<div class="row">

<div class="panel">



    <h1 align="center">Admin Page</h1><br>

    <h1>Users List</h1><br>
    <ul>
      <% @users.each do |user| %>
        <li><h4> <%= user.user_name %> </h4></li>
        <%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %><br><br>
      <% end %>
    </ul>

    <h1>Parks List</h1><br>
    <ul>
      <% @parks.each do |park| %>
        <li><h4> <%= park.name %></h4> </li>
        <%= link_to 'Destroy', park, method: :delete, data: { confirm: 'Are you sure?' } %><br><br>
      <% end %>
    </ul>

    <h1>Reviews List</h1><br>
    <ul>
      <% @reviews.each do |review| %>
        <li><h4> <%= review.comment %></h4> </li>
        <%= link_to 'Destroy', review, method: :delete, data: { confirm: 'Are you sure?' } %><br><br>
      <% end %>
    </ul>
 </div>

</div>
