<h1>Your <%= current_user.email %></h1>
<h1>Hello <%= current_user.state %></h1>

<%= form_for current_user, html: { multipart: true } do |f| %>
  <p>
    <%= image_tag(current_user.profile_photo) if current_user.profile_photo? %>
    <% if current_user.profile_photo? %>
    <% else %>
      <label>Upload Picture</label>
      <%= f.file_field :profile_photo %>
      <div class="actions">
        <%= f.submit "Upload Picture" %>
      </div>
    <% end %>
  </p>

<% end %>
