
<div class="row">
  <div class="row">
    <div class="small-6 columns">
      <div class="panel">
        <h4 align="center">Your Account Info</h3>
        <br>
        <%= form_for current_user, html: { multipart: true } do |f| %>
        <p>
          <%= image_tag(current_user.profile_photo) if current_user.profile_photo? %>
          <% if current_user.profile_photo? %>
          <% else %>
          <label>Upload Picture</label>
          <%= f.file_field :profile_photo %>
          <div class="actions">
            <%= f.submit "Upload Picture" %>
          </div>
          <% end %>
        </p>
        <% end %>
        <p>Name: <%= current_user.first_name %> <%= current_user.last_name %></p>
        <p>Location: <%= current_user.state %><br>
        Email: <%= current_user.email %></p>
      </div>
    </div>
    <div class="small-6 columns">
      <div class="panel">
        <h4 align="center">Parks You Follow</h3>
        <br>
        <% unless @follows == [] %>
          <% @follows.each do |f| %>
            <div class="panel">
              <h4><%= link_to "#{f.park.name}, #{f.park.state}", f.park %></h4>
              <p><%= f.park.description %>description text<br>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="small-6 columns">
      <div class="panel">
        <h4 align="center">Your Reviews</h3>
        <br>
        <% unless @reviews == [] %>
          <% @reviews.each do |r| %>
            <div class="panel">
              <h6>
                <% @parks.each do |p| %>
                  <% if p.id == r.park_id %>
                    <%= r.park.name %>
                    <% end %>
                <% end %>
              </h6>
              <p>You said: "<%= r.comment %>"</p>
              <%= link_to 'Destroy', r, method: :delete, data: { confirm: 'Are you sure?' } %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
