
<div class="row">
  <div class="row">
    <div class="small-6 columns">
      <div class="panel">
        <h4 align="center">Your Account Info</h3>
        <br>
        <%= form_for current_user, html: { multipart: true } do |f| %>
        <p>
          <%= image_tag(current_user.profile_photo) if current_user.profile_photo? %>
          <% if current_user.profile_photo? %>
          <% else %>
          <label>Upload Picture</label>
          <%= f.file_field :profile_photo %>
          <div class="actions">
            <%= f.submit "Upload Picture" %>
          </div>
          <% end %>
        </p>
        <% end %>
        <p>Name: <%= current_user.first_name %> <%= current_user.last_name %></p>
        <p>Location: <%= current_user.state %><br>
        Email: <%= current_user.email %></p>
      </div>
      <div class="panel">
        <h4 align="center">Parks You Follow</h3>
        <br>
        <% @parks.each do |p| %>
          <div class="panel">
            <h4 align="center"><%= link_to "#{p.name}, #{p.state}", p %></h4>
            <p align="center">
              "<%= p.description %>description text"
            </p>
            <p>
              Overall Rating: <%= p.avg_rating %><br>
              Dog-Friendly: <%= p.dog_friendly_avg_rating %><br>
              Camping: <%= p.camping_avg_rating %><br>
              Scenery: <%= p.scenery_avg_rating %><br>
              Hiking: <%= p.hiking_avg_rating %><br>
              Playgrounds: <%= p.playground_avg_rating %>
            </p>
          </div>
        <% end %>
      </div>
    </div>
    <div class="small-6 columns">
    </div>
    <div class="small-6 columns">
      <div class="panel">
        <h4 align="center">Your Reviews</h3>
        <br>
        <% @reviews.each do |r| %>
          <div class="panel">
            <h6><%= link_to "#{Park.find_by_id(r.park_id).name}", (Park.find_by_id(r.park_id)) %></h6>
            <% unless r.comment === "" %>
              <p>You said: "<%= r.comment %>"</p>
            <% end %>
            <p>
              Overall Rating: <%= r.park_rating %><br>
              <% unless r.dog_friendly_rating === nil %>
                Dog-Friendly: <%= r.dog_friendly_rating %><br>
              <% end %>
              <% unless r.camping_rating === nil %>
                Camping: <%= r.camping_rating %><br>
              <% end %>
              <% unless r.scenery_rating === nil %>
                Scenery: <%= r.scenery_rating %><br>
              <% end %>
              <% unless r.hiking_rating === nil %>
                Hiking: <%= r.hiking_rating %><br>
              <% end %>
              <% unless r.playground_rating === nil %>
                Playgrounds: <%= r.playground_rating %>
              <% end %>
            </p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
