<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Park Planner" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Rubik+Mono+One" rel="stylesheet">
  </head>

  <body>
    <div class="top-bar">
        <% if user_signed_in?  %>
          <ul class="menu">
            <div class="left">
              <li class="button"><%= link_to "Back", :back %></li>
              <li class="button"><%= link_to "Search", parks_path %></li>
            </div>
            <div class="right">
              <li class="button"><%= link_to 'My Account', user_path(current_user) %></li>
              <li class="button"><%= link_to 'Edit Account Info', edit_user_registration_path %></li>
              <li class="button"><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
            </div>
            <% if current_user.admin? %>
              <div class="right">
                <li class="button"><%= link_to 'Admin', users_path %></li>
              </div>
            <% end %>
          </ul>
        <% else %>
          <ul>
            <div class="left">
              <li class="button"><%= link_to "Sign In", new_user_session_path %></li>
              <li class="button"><%= link_to "Sign Up", new_user_registration_path %></li>
            </div>
          </ul>
        <% end %>
      </div>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
    <%= javascript_include_tag "application" %>
  </body>
</html>
